<div class="row">
  <div class="col-md-12 nav">
    <ul class="list-inline">
      <li><a ng-link="['./Movies', 'MoviesList', { type: 'upcoming' }]">Upcoming</a></li>
      <li><a ng-link="['./Movies', 'MoviesList', { type: 'in-theaters' }]">In Theaters</a></li>
      <li><a ng-link="['./Movies', 'MoviesList', { type: 'opening' }]">Opening This Week</a></li>
      <li><a ng-link="['./Rentals', 'MoviesList', { type: 'top-rentals' }]">Top Rentals</a></li>
      <li><a ng-link="['./Rentals', 'MoviesList', { type: 'new-releases' }]">New Rental Releases</a></li>
      <li><a ng-link="['./Rentals', 'MoviesList', { type: 'upcoming' }]">Upcoming Rental Releases</a></li>
    </ul>
  </div>
</div>
